<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <form method="GET">
        {{ form }}
        <button type="submit">Submit</button>
    </form>

    {% for field in form %}
            {% if field.errors %}
                <ul>
                    {% for error in field.errors %}
                        <li>{{ field.label }}: {{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
    {% endfor %}

    <hr>

    <h3>Your text is</h3>
    <p>{{ text }}</p>

</body>
</html>