<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        a {
            text-decoration: none;
            color: black;
        }
        .link {
            max-width: 300px;
            padding: 15px;
            transition: 0.5s all;
        }
        .link:hover {
            background: crimson;
            color: white;
        }
    </style>
</head>
<body>
    <div style="display: flex; flex-wrap: wrap; justify-content: space-around;">
        <div class="link"><a href="{% url 'forms:form-1' %}">Form - 1</a>
            <p>Шаблонная форма GET</p>
        </div>
        <div class="link"><a href="{% url 'forms:form-2' %}">Form - 2</a>
            <p>Шаблонная форма POST</p>
        </div>
        <div class="link"><a href="{% url 'forms:form-3' %}">Form - 3</a>
            <p>Модельная форма GET, вывод через {form}</p>
        </div>
        <div class="link"><a href="{% url 'forms:form-4' %}">Form - 4</a>
            <p>Модельная форма GET, вывод полей циклом</p>
        </div>
        <div class="link"><a href="{% url 'forms:form-5' %}">Form - 5</a>
            <p>Модельная форма POST, {form}</p>
        </div>
        <div class="link"><a href="{% url 'forms:form-6' %}">Form - 6</a>
            <p>Модельная форма POST, циклом</p>
        </div>
        <div class="link"><a href="{% url 'forms:form-7' %}">Form - 7</a>
            <p>Не модельная форма GET, {form}</p>
        </div>
        <div class="link"><a href="{% url 'forms:form-8' %}">Form - 8</a>
            <p>Не модельная форма POST, {form}</p>
        </div>
        <div class="link"><a href="{% url 'forms:form-9' %}">Form - 9</a>
            <p>Не модельная форма GET, циклом</p>
        </div>
        <div class="link"><a href="{% url 'forms:form-10' %}">Form - 10</a>
            <p>Не модельная форма POST, циклом</p>
        </div>
    </div>
    <a href="{% url 'forms:objs' %}">Все объекты</a>
</body>
</html>